<!DOCTYPE html>
<html>
    <head>
        <title>Test site</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <h1> TEST API SITE </h1>
        <form id="test" action="http://localhost/get.json" method="GET" onsubmit="return send();">
            <select id="met" name="met" onchange="changeForm()">
                <option value="GET" selected>GET</option> 
                <option value="POST">ADD</option>
                <option value="DELETE">DELETE</option>
            </select>
            <select id="format" name="format" onchange="changeForm()">
                <option value="json" selected>JSON</option> 
                <option value="xml">XML</option>
            </select>
            <label for="uid_one">uid_one</label>
            <input id="uid_one" type="text" name="uid_one"/>
            <label for="uid_two">uid_two</label>
            <input id="uid_two" type="text" name="uid_two"disabled/>
            <button type="submit">SEND</button>
        </form>
        <fieldset style="margin-top:10px;"><div id="result"></div></fieldset>
        <script>
        function changeForm() {
            var val = document.getElementById("met").value;
            var action = "http://localhost", method;
            switch(val) {
                case "GET":
                    document.getElementById("uid_two").disabled = true;
                    action += "/get.";
                    break;
                case "POST":
                    document.getElementById("uid_two").disabled = false;
                    action += "/add.";
                    break;
                case "DELETE":
                    document.getElementById("uid_two").disabled = false;
                    action += "/delete.";
                    break;
            }
            document.getElementById("test").action = action+document.getElementById("format").value;
        }
        function send() {
            var method = document.getElementById("test").met.value,
                    action = document.getElementById("test").action,
                    params = "";
            if(method === "GET") {
                action += "/"+document.getElementById("uid_one").value;
            } else {
                params += "uid_one="+(document.getElementById("uid_one").value)+
                    "&uid_two="+(document.getElementById("uid_two").value);
            }
                
            if (window.XMLHttpRequest) {
                xhr=new XMLHttpRequest();
            } else {
                xhr=new ActiveXObject("Microsoft.XMLHTTP");
            }
            
            xhr.open(method, action, true);
            xhr.setRequestHeader("Content-type", "application/x-www-form-urlencoded");
            
            xhr.onreadystatechange = function() {
              if (xhr.readyState == 4) {
                document.getElementById("result").innerText = xhr.responseText;
              }
            }
            
            xhr.send(params);
            return false;
        }
        </script>
    </body>
</html>